*.iml
.gradle
/local.properties
/.idea
/.github
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
*.jar
*.log
*.dex
*.class
*.jar
*.log
*.pack
*.pom
*.nar
*.ipc
*.lock
*.hprof
*.jfr
*.trace
*.spm
*.db-shm
*.db-wal
gradle-app.setting